<div class="card">
  <div class="card-header">
    <h5 class="card-title mb-0">API Client</h5>
  </div>
  <div class="card-body">


    <% if(!userAuth?.apiKey)  { %>
    <form action="/profile/requestApiKey" method="post">
      <input type="hidden" name="_method" value="POST">
      <button type="submit" class=" btn btn-outline-primary ">Request Your API Client</button>
    </form>
    <% } else { %>
    <div class="mb-3">
      <label for="" class=" form-label ">Api Key</label>
      <input type="text" class="form-control  " readonly value="<%= userAuth?.apiKey %>">
    </div>
    <% }  %>
  </div>
</div>